<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.j2ee.bookshop.mapper.BookMapper">
    <select id="getAll" resultType="org.j2ee.bookshop.domain.Book">
        SELECT * FROM book
    </select>

    <select id="getById" parameterType="int" resultType="org.j2ee.bookshop.domain.Book">
        SELECT * FROM book WHERE id = #{value}
    </select>

    <insert id="insert" parameterType="org.j2ee.bookshop.domain.Book">
        INSERT INTO book (name, author, publisher, pubdate, isbn, description) VALUES
        (#{name}, #{author}, #{publisher}, #{pubdate}, #{isbn}, #{description})
    </insert>

    <update id="update" parameterType="org.j2ee.bookshop.domain.Book">
        UPDATE book SET name = #{name}, author = #{author}, publisher = #{publisher},
        pubdate = #{pubdate}, isbn = #{isbn}, description = #{description}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM book WHERE id = #{value}
    </delete>
</mapper>